<body>

<h1>New Question</h1>

<h2>Subject</h2>


<br/>


<%= form_for :question, url: questions_path do |f| %><br/>

    <p>
      <%= f.collection_select(:subject_title, Subject.all, :subject_title, :subject_title ) %>
    </p>


    <p>
      <%= f.label :Question %><br>
      <%= f.text_area :title %>
    </p>

    <h2>Answers:</h2>

    <p>
      <%= f.label :Correct%><br>
      <%= f.text_area :rightAns %>
    </p>

    <p>
      <%= f.label :InCorrect %><br>
      <%= f.text_area :wrongAns1 %>
    </p>

    <p>
      <%= f.label :InCorrect %><br>
      <%= f.text_area :wrongAns2 %>
    </p>

    <p>
      <%= f.label :InCorrect %><br>
      <%= f.text_area :wrongAns3 %>
    </p>

    <p>
      <%= f.submit %>
    </p>
    </body>
<% end %>