<p>
  <strong>Question:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Correct Answer:</strong>
  <%= @question.rightAns %>
</p>

<p>
  <strong>Wrong Answer:</strong>
  <%= @question.wrongAns1 %>
</p>

<p>
  <strong>Wrong Answer:</strong>
  <%= @question.wrongAns2 %>
</p>

<p>
  <strong>Wrong Answer:</strong>
  <%= @question.wrongAns3 %>
</p>