<!--<link href="/assets/messages.css" rel="stylesheet">-->

<div id="readMessage">
  <h3>Message</h3>
  <table class = "table">
    <tr>
      <td>Subject</td>
      <td>From</td>
      <td>To</td>
      <td>Date</td>
    </tr>
    <tr>
      <td><strong><%= @message.subject%></strong></td>
      <td><strong><%= @message.sender_name %></strong></td>
      <td><strong><%= @message.recipient_name %></strong></td>
      <td><strong><%= @message.created_at %></strong></td>
    </tr>
  </table>
  <p><%= @message.body %></p>
  <% if current_user.admin && @message.sender_id != 0 && @message.subject != 'New Question' %>
      <%= link_to 'View user in dashboard', rails_admin.show_path(model_name: 'user', id: @message.sender_id) %><br/>
  <%end%>
  <% if current_user.reviewer && @message.sender_id == 0 %>
      <%= link_to 'View question in dashboard', rails_admin.show_path(model_name: 'question', id: @message.body) %><br/>
  <%end%>
  <%= link_to 'Back', messages_path %>
</div>