
<head>
  <%= stylesheet_link_tag    "rules", media: "all", "data-turbolinks-track" => true %>
</head>


<body>


<aside>
  <%= link_to 'Game Rules', game_rules_path %>
</aside>

<!--   sets games id's to the lists       -->
<div style="display: none;">
  <p id="active_games"><%= @active_games %></p>

  <p id="games_history"><%= @finished_games %></p>
</div>


<!-- Name tied to ID for current user  -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills nav-justified thumbnail">
        <li class="active"><a href="#">
          <h1 class="list-group-item-heading"><%= current_user.name %></h1>

          <p class="list-group-item-text">Maybe some stats could go here</p>
        </a></li>
      </ul>
    </div>
  </div>
</div>


<!-- Buttons and search -->
<div class="row">
  <div class="col-lg-7">
    <div class="input-group">
      <p>
        <!-- Button for play random user not linked yet -->
        <%= link_to game_game_path(:id => 0, :game_id => -1), class: 'btn btn-primary btn-lg', id: 'cont-btn', title: 'Play Random User' do %>
        Play Random User
        <% end %>
        <!-- Button for play search for user not linked yet -->
        <button type="button" class="btn btn-primary btn-lg" aria-label="Center Align">Search by player name</button>
      </p>
      <input type="text" class="form-control" placeholder="Search By Players Name">
      <!-- Need to grac name and apply search -->
    </div>
  </div>
</div>

<!-- gets active games for current user and lists onclick not yet set -->
<% @active_games = Game.get_user_games_active(current_user.id) %>

<div class="list-group">
  <p></p>
  <a href="#" class="list-group-item active">
    <h4>Active Games</h4>
  </a>

  <% @active_games.each do |game| %>

      <a href="#" class="list-group-item" >

        <%= "Player 1: " + game.player1.name + "  Player 2: " + game.player2.name %>

        <%= link_to game_game_path(:game_id => game.id), class: 'btn btn-primary btn', id: 'cont-btn', title: 'Continue Game' do %>
        Continue Game
        <% end %>
      </a>
  <% end %>
</div>


<!-- gets finished games for current user onclick not yet set  -->
<% @finished_games = Game.get_user_games_active(current_user.id) %>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4>Completed Games</h4>
  </a>
  <% @finished_games.each do |f| %>
      <a href="#" class="list-group-item"><%= "Player 1: " + f.player1.name + "  Player 2: " + f.player2.name %></a>
  <% end %>
</div>


<!-- Gets a list of all users returns list minus current user  -->
<% @users = User.all %>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4>All Users</h4>
  </a>
  <% @users.each do |player2| %>
      <a href="#" class="list-group-item">

        <%= "Player name: " + player2.name + "  ID: " + player2.id.to_s %>

        <%= link_to game_game_path(:player2_id => player2.id, :game_id => 0), class: 'btn btn-primary btn', id: 'cont-btn', title: 'Play New Game' do %>
            Play New Game
        <% end %>
      </a>
  <% end %>

</div>
</body>


