<% @current_user = current_user %>

<body>
<style type="text/css">
    body {
        background: lightblue;
    }

    #cont-btn {
        float: right;
    }

    #new_game_btn {
        float: right;
    }

    .list-group-item {
        height: 55px;
        text-align: left;
    }

</style>

<!--   sets games id's to the lists       -->
<div style="display: none;">
  <p id="active_games"><%= @active_games %></p>

  <p id="games_history"><%= @finished_games %></p>
</div>


<!-- Name tied to ID for current user  -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills nav-justified thumbnail">
        <li class="active"><a href="#">
          <h1 class="list-group-item-heading"><%= current_user.name %></h1>

          <p class="list-group-item-text">Maybe some stats could go here</p>
        </a></li>
      </ul>
    </div>
  </div>
</div>


<!-- Buttons and search -->
<div class="row">
  <div class="col-lg-7">
    <div class="input-group">
      <p>
        <!-- Button for play random user not linked yet -->
        <button type="button" class="btn btn-primary btn-lg" aria-label="Center Align">Play Random User</button>

        <!-- Button for play search for user not linked yet -->
        <button type="button" class="btn btn-primary btn-lg" aria-label="Center Align">Search by player name</button>
      </p>
      <input type="text" class="form-control" placeholder="Search By Players Name">
      <!-- Need to grac name and apply search -->
    </div>
  </div>
</div>

<!-- gets active games for current user and lists onclick not yet set -->
<% @active_games = Game.get_user_games_active(@current_user.id) %>

<div class="list-group">
  <p></p>
  <a href="#" class="list-group-item active">
    <h4>Active Games</h4>
  </a>

  <% @active_games.each do |a| %>

        <a href="#" class="list-group-item"><%= "Player 1: " + a.player1.name + "  Player 2: " + a.player2.name %>
          <button type="button" class="btn btn-primary btn" id="cont-btn" aria-label="Center Align">Continue Game
          </button>
        </a>
  <% end %>
</div>


<!-- gets finished games for current user onclick not yet set  -->
<% @finished_games = Game.get_user_games_active(@current_user.id) %>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4>Completed Games</h4>
  </a>
  <% @finished_games.each do |f| %>
      <a href="#" class="list-group-item"><%= "Player 1: " + f.player1.name + "  Player 2: " + f.player2.name %></a>
  <% end %>
</div>


<!-- Gets a list of all users returns list minus current user  -->
<% @users = User.all %>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4>All Users</h4>
  </a>
  <% @users.each do |u| %>
      <a href="#" class="list-group-item"><%= "Player name: " + u.name + "  ID: " + u.id.to_s %>

        <button type="button" class="btn btn-primary btn" id="new_game_btn" aria-label="Center Align" onclick="">Play New Game
        </button>
      </a>
  <% end %>

</div>
</body>


